body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

#msg {
  font-size: 18px;
  padding: 5px;
  border: 1px solid silver !important;
  border-radius: 5px;
  background-color: white !important;
}

#recv {
  background-color: transparent !important;
  border: none !important;
}

#layout, html>body>div>div#recv {
  top: 75px;
  bottom: 6.7em;
  border: 1px solid silver !important;
  border-radius: 5px;
  background-color: white !important;
  padding: 8px;
}

div#buttons {
  bottom: 6.3em;
  /*margin-right: 50px;*/
}

div#send {
  height: 3.5em;
  border-radius: 5px;
  border: none !important;
}

#send img {
  height: auto;
}

/*#send * {
  width: 99% !important;
}*/

form {
  border: none;
}

textarea {
  background-color: transparent !important;
  padding: 8px;
  border: none;
  outline: none;
}

#recv button { /* clear chat history */
  display: none;
}


#presence[src='/presence/image/bluffton/available'] {
  content: url('https://hualab.nl/chat/status.php?available');
}

#presence::after {
  content: " - Remember thisasdfa";
}

#presence[src='/presence/image/bluffton/chat'] {
  content: url('https://hualab.nl/chat/status.php?chat');
}

#presence[src='/presence/image/bluffton/unavailable'] {
  content: url('https://hualab.nl/chat/status.php?unavailable');
}

#presence[src='/presence/image/bluffton/xa'] {
  content: url('https://hualab.nl/chat/status.php?xa');
}

#presence[src='/presence/image/bluffton/dnd'] {
  content: url('https://hualab.nl/chat/status.php?dnd');
}

#presence[src='/presence/image/bluffton/away'] {
  content: url('https://hualab.nl/chat/status.php?away');
}

#title {
  display: none !important;
}

#sounds:after {
 content: "Stel hier uw vraag:";
  color: #3b8d7f;
  font-size: 16px;
}

#sounds .sprite {
  display: none !important;
}

#status #mail {
display: none;
}

#presence {
    float: none;
}

a#send-line img {
  content: url('https://hualab.nl/chat/img/btnSend@2x.png');
}

